header {
    color: black;
    position: fixed;
    width: 75%;
    left: 12.5%;
    height: 5%;
    top: 5%;
    z-index: 10;
    padding: 0 !important;
    background-color: rgba(252, 242, 242, 0.603) !important;
    backdrop-filter: blur(3px);
    border-radius: 50px;
}

header nav {
    margin: 0 !important;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.textalign {
    text-align: center;
}

.main_menu li {
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
    padding: 0 10px;
    color: black !important;
}

.main_menu li:hover {
    background-color: rgba(255, 255, 255, 0.699);
}

.main_menu li:hover>ol {
    opacity: 1;
    pointer-events: all;
    transition: 0.6s;
    position: absolute;
    transform: translateX(-25%) translateY(0px);
}

.main_menu li ol {
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.699);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px;
    transform: translateX(-25%) translateY(-20px);
    position: absolute;
    pointer-events: none;
}

.main_menu li ol li {
    width: 100%;
    margin: 2px;
    background-color: white;
    border: 1px solid black;
}

aside {
    color: white;
    padding: 20px;
}

.main_menu {
    width: 50%;
    display: flex;
    justify-content: space-between;
}


.logo {
    cursor: pointer;
    height: 30px;
    margin: auto 30px;
    background-image: url("../global/img/logo.webp");
    background-size: contain;
    border-radius: 10px;
    border: none;
    background-repeat: no-repeat;
}

.nd_menu {
    display: flex;
    justify-content: space-between;
    width: 20%;
}

.nd_menu li {
    cursor: pointer;
}

textarea:focus,
input:focus {
    outline: none;
}

.nd_menu {
    padding: auto;
    margin: auto;
}

.nd_menu input {
    border-radius: 50px;
    cursor: pointer;
    position: absolute;
    width: 200px;
    pointer-events: none;
    transform: translateY(0%) translateX(-100px);
    transition: 0.3s;
    opacity: 0;
}

.nd_menu li:hover>input {
    transform: translateY(50%) translateX(-100px);
    position: absolute;
    pointer-events: all;
    opacity: 1;
}

.nd_menu li button {
    margin: 0;
}


.menu {
    position: fixed;
    z-index: 1;
    cursor: pointer;
    display: none !important;
    right: 0;
    top: 0;
}

th {
    text-align: center;
}

table {
    text-align: center;
    width: 100%;
}

#menu_trigger {
    opacity: 0;
    pointer-events: none;
}

#menu_trigger:checked~header {
    opacity: 1;
    pointer-events: all;
    top: 0;
}

main {
    margin-top: 10%;
}

@media screen and (max-width: 750px) {
    header {
        top: -100%;
        transition: 0.3s;
        display: block;
        opacity: 0;
        pointer-events: none;
        height: 30vh;
    }

    .menu {
        display: block !important;
    }

    .main_title {
        width: 100%;
        height: fit-content !important;
        padding: 0 !important;
    }

    .main_title ul {
        display: block !important;
    }

    .main_title ul li {
        margin: 10px 10px;
    }
}

body {
    background: rgb(125, 0, 0);
    background: linear-gradient(68deg, rgba(125, 0, 0, 1) 0%, rgba(67, 9, 121, 1) 54%, rgba(42, 12, 218, 1) 100%);
    color: white;
    animation: gradient 15s ease infinite;
    background-size: 200% 200%;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* A modification */
a.bypass_css {
    border: none;
    border-radius: 0%;
    color: black;
    margin: 0;
    padding: 0;
    text-decoration: none;
    display: block;
}

/* CSS LOADER (CREDITS: https://css-loaders.com/) */

.loader {
    width: 45px;
    aspect-ratio: 1;
    --c: no-repeat linear-gradient(black 0 0);
    background:
        var(--c) 0% 50%,
        var(--c) 50% 50%,
        var(--c) 100% 50%;
    background-size: 20% 100%;
    animation: l1 1s infinite linear;
}

@keyframes l1 {
    0% {
        background-size: 20% 100%, 20% 100%, 20% 100%
    }

    33% {
        background-size: 20% 10%, 20% 100%, 20% 100%
    }

    50% {
        background-size: 20% 100%, 20% 10%, 20% 100%
    }

    66% {
        background-size: 20% 100%, 20% 100%, 20% 10%
    }

    100% {
        background-size: 20% 100%, 20% 100%, 20% 100%
    }
}

blockquote {
    color: white;
}

body>footer>table th {
    background-color: rgba(255, 255, 255, 0.603);
    color: black;
}

tr:nth-child(2n) {
    background-color: transparent;
}

a,
a:visited {
    color: black !important;
    text-decoration: underline;
}