section.main_title {
    height: 75vh;
    margin-top: 12.5vh;
    background-color: rgba(255, 255, 255, 0.137);
    left: 0;
    border-radius: 20px;
    text-align: center;
    padding: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

section.main_title ul {
    display: flex;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 20px;
    justify-content: space-between;
    width: 100%;
}

section.main_title ul li {
    text-align: left;
    text-decoration: none;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.137);
    border-radius: 10px;
    transform: scale(1);
    transition: 0.4s;
    display: flex;
}

section.main_title ul li:hover {
    transform: scale(1.1);
}

section.main_title ul li img {
    height: 50px;
}

section.main_title ul li .texts h5 {
    padding: 0;
    margin: 0;
}

section.main_title ul li .texts h6 {
    padding: 0;
    margin: 0;
}

main {
    margin-top: 0 !important;
}